<div align="center">
  <div>
    <h1>Uranus Eyes Plus</h1>
    <h2>Web service system for atmosphere cloud classification </h2>
  </div>
  <div class="upload">
    <h2>Photo Upload</h2>
    <nz-progress [ngModel]="_percent"></nz-progress>
    <nz-select class="selector" [(ngModel)]="target" nzAllowClear>
      <nz-option *ngFor="let option of options" [nzLabel]="option.label" [nzValue]="option.value">
      </nz-option>
    </nz-select>
    <form class="uploadForm" action="#">
      <p class="file">
        <input #fileInput type="file" accept="image/*" (change)="getFileName()">
        <label for="file">Browse Image</label>
      </p>
      <p>{{inputFileName}}</p>
    </form>
    <button nz-button [nzType]="'primary'" (click)="upload()">
      <span>Upload File</span>
    </button>
  </div>
  <div>
    {{result}}
  </div>
</div>