h1 {
  padding: 10px;
}

h2 {
  padding: 5px;
}

.upload {
  width: 220px;
  padding: 20px;
}

.file {
  position: relative;
  padding-bottom: 10px;
}

.file label {
  background: #39d2b4;
  padding: 8px 20px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.4s;
}

.file input {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  opacity: 0.01;
  cursor: pointer;
}

.file input:hover+label,
.file input:focus+label {
  background: #34495e;
  color: #39d2b4;
  border-radius: 4px;
}

.selector {
  width: 170px;
  padding: 10px;
}

.uploadForm {
  padding: 10px;
}

.preview {
  max-width:180px;
}