<div align="center">
  <div>
    <h1>Uranus Eyes Plus</h1>
    <h2>Web service for cloud classification</h2>
    <p>Your upload image will be used for training next model.</p>
  </div>
  <div class="upload">
    <h2>Photo Upload</h2>
    <p>What type is this cloud?</p>
    <nz-select class="selector" [(ngModel)]="target" nzAllowClear>
      <nz-option *ngFor="let option of options" [nzLabel]="option.label" [nzValue]="option.value">
      </nz-option>
    </nz-select>
    <img #imgPreview class="preview">
    <form class="uploadForm" action="#">
      <p class="file">
        <input #fileInput type="file" accept="image/jpeg" (change)="getFileName()">
        <label for="file">Browse Image</label>
      </p>
      <p>{{inputFileName}}</p>
    </form>
    <button nz-button [nzType]="'primary'" (click)="upload()">
      <span>Upload Image</span>
    </button>
    <nz-progress [ngModel]="_percent"></nz-progress>
  </div>
  <div *ngIf="isResultShowed">
    <p *ngIf="isResultWaiting">
      Wainting for calculaton ...
    </p>
    <div *ngIf="!isResultWaiting">
      <h2 >Result</h2>
      <p>Via our current model, we get:</p>
    </div>
    <div *ngFor="let line of result; let i = index">
      <div *ngIf="i &lt; 3">
        {{line}}
      </div>
    </div>
  </div>
</div>
